@import 'theme-variables';

.navigation-bar-content {
  display: grid;
  grid-auto-columns: max-content;
  grid-template-columns: 1fr max-content max-content max-content max-content max-content;
  grid-gap: 1em;
  grid-template-rows: auto;
  align-items: center;
}

.navigation-bar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1% 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 1000;
}
.hidden {
  visibility: hidden;
  transition: all 300ms ease-out;
  transform: translate(0, -100%);
}

.active {
  visibility: visible;
  transition: all 300ms ease-in;
}

.toggle-theme-section {
  margin: 10%;
}

.logo-section {
  @include themify($themes) {
    color: themed('headline');
  }
  font-size: 3.5ex;
}

.logo-section > span:hover {
  cursor: pointer;
}
