@import 'theme-variables';

.navigation-link {
  @include themify($themes) {
    color: themed('headline');
  }
  font-size: 2.15ex;
}
button {
  all: unset;
}


.navigation-link:hover {
  cursor: pointer;
}