@import 'theme-variables';

.navigation-link {
  @include themify($themes) {
    background-color: themed('headerFooterBackground');
  }
  text-align: center;
  display: inline-block;
  margin: 1%;
}

.navigation-link:hover {
  cursor: pointer;
}