$themes: (
        light: (
                background: #fffffe,
                headline: #094967,
                paragraph: #5f6c7b,
                button: #3da9fc,
                button-text: #fffffe,
                stroke: #183f6b,
                highlight: #083548,
                secondary: #90b4ce,
                tertiary: #ef4565,
        ),
        dark:(
                background: #121212,
                headline: #FFFFFF,
                paragraph: #B3B3B3,
                button: #007BFF,
                button-text: #FFFFFF,
                stroke: #094067,
                highlight: #007BFF,
                secondary: #90b4ce,
                tertiary: #FF5733,
        )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
                        $theme-map,
                        (
                                $key: $value,
                        )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}