$themes: (
        light: (
                bodyBackgroundColor: #f8f8fa,
                headerFooterBackground: #fff,
                color: #000,
                background-color: #dfe4ea,

        ),
        dark: (
                bodyBackgroundColor: #222736,
                headerFooterBackground: #36394c,
                color: #eff2f7,
                background-color: #606071,

        )
);
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
                        $theme-map,
                        (
                                $key: $value,
                        )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}