li {
    display: inline;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #758bfd;
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5fr 0 0;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: #758bfd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #758bfd;
}