.main {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.left {
    padding: 20px;
    height: 100%;
    width: auto;
    font-weight: bold;
    font-size: 2rem;

}

.right {
    padding: 20px;
    height: 100%;
    width: auto;
}
.right img {
    width: 850px;
    height: 850px;
}
.name {
    font-weight: bolder;
    color: #758bfd;
}

button {
    background-color: #758bfd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}